.container {
  composes: background from '../../utils/utils.module.css';
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px;
  border: 1px solid rgba(255 255 255 / 20%);
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  font-size: var(--calcite-font-size--1);
  align-items: center;
}

.leftActionsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightActionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selectedCountry {
  color: var(--calcite-ui-brand);
  font-weight: bold;
}

@media (max-width: 700px) {
  .leftActionsContainer {
    justify-content: space-between;
  }
  .labelContainer {
    display: none;
  }
}
