.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hide {
  display: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modalContainer {
  width: min(60%, 1000px);
  max-height: 80%;
  box-shadow: var(--box-shadow);
  position: relative;
  color: white;
  background-color: rgb(43, 43, 43);
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer p {
  filter: drop-shadow(0 0 10px black);
}

.header h1 {
  color: var(--calcite-ui-brand);
  text-transform: uppercase;
  text-shadow: 1px 1px 10px black;
  margin: 0;
  text-align: center;
  padding-top: 60px;
  font-weight: normal;
  font-size: 1.6rem;
}

.textInfo {
  z-index: 100;
  padding: 20px 100px;
  max-height: 60vh;
  overflow: auto;
  position: relative;
  background: linear-gradient(0deg, rgba(43, 45, 44, 0), rgb(43, 43, 43) 10%, rgb(43, 43, 43) 90%, rgba(43, 45, 44, 0));
}

.textInfo h2 {
  font-size: 1.2rem;
  color: var(--calcite-ui-brand);
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
}

.textInfo p {
  margin: 0;
}

.infoModalOptions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}

@media (max-width: 900px) {
  .header h1 {
    font-size: 1.4em;
  }
}

@media (max-width: 700px) {
  .textInfo {
    padding: 10px 30px;
  }

  .header h1 {
    font-size: 1.2em;
  }

  .textInfo h2 {
    font-size: 1em;
  }

  .modalContainer {
    width: 100%;
  }
}
